body {
	margin-top: 80px;  /*adjust this if the height of the menu bar changes */
	font-family: Microsoft JhengHei, 微軟正黑體, 新細明體, PMingLiU, 細明體, MingLiU,標楷體,DFKai-sb, serif;
}

.navbar .nav {
	margin-top: 0px; /*this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items*/
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-inline > li:first-child {
  padding-left: 0;
}

.container {
	width:1024px
}

.navbar .nav > li > a {
	padding: 10px 5px 10px;
}
