
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	width:100%;
}

table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.hovertable tr {
	background-color:#d4e3e5;
}

table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

/*
 * For memberIndex.jsp
 */
table.memProfile {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#111111;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	width:100%;
}

table.memProfile th {
	background-color:white;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.memProfile tr {
	background-color:#fff8dc;
}

table.memProfile td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
