@charset "utf-8";
/* CSS Document */

#itsthetable table a:link {color: #CC6633;}
#itsthetable table a:visited {color: #CC6633;}
#itsthetable table a:hover {color: #999966;}
#itsthetable table a:active {color: #CC6633;}
#itsthetable table a:focus{color: #CC6633;}


	#itsthetable table caption {
		padding: 18px 2px 15px 2px;
		color: #cfcfcf;
		background-color: inherit;
		font-weight: normal;
		text-align: centered;
		text-transform: capitalize;
		}

	#itsthetable table{
		border: 1px solid #D9D9D9;
	}
	#itsthetable table tr td{
		padding: 6px 9px;
		text-align:left;

	}
	#itsthetable table thead th{
		background-color: #E5E5D8;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #D9D9D9;
		font-weight: bold;
		text-align:left;
		padding: 16px 9px;
		color:#592C16;
	}
	#itsthetable table tbody tr th{
		background-color: #fff;
		font-weight: normal;
		border-left: none;
		padding: 6px 9px;
		background-color: #E5E5D8;
	}
	#itsthetable table tbody td{
			border-left: 1px solid #D9D9D9;
	}
	#itsthetable table tbody tr.odd{
		background-color: #F3F3F3;
	}
	
#itsthetable table tbody tr:hover {
	color: #333333;
	background-color: #E5E5D8;
}

#itsthetable table tbody tr.odd:hover {
color: #333333;
	background-color: #E5E5D8;
}
	
	#itsthetable table tfoot td, #itsthetable table tfoot th{
		border-top: 1px solid #ccc;
		font-weight:bold;
		color:#592C16;
		padding: 16px 9px;
		
	}
