
/*
@import url("../../assets/css/bootstrap.css");
@import url("../../assets/css/bootstrap-responsive.css");
*/

html {
	height: 100%
}

body {
	height: 80%;
	margin: 1px;
	padding: 0px
}

#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#nav {
    background: url('menu_bg.png') no-repeat scroll 0 0 transparent;
    background-color: BLACK;
    clear: both;
    font-size: 16px;
    height: 40px;
    padding: 0 0 0 15px;
    position: relative;
    width: 100%;
   
}

#nav ul {
    background-color: #222;
    border:1px solid #222;
    border-radius: 0 5px 5px 5px;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    z-index: 2;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
}

#nav li {
    background: url('menu_line.png') no-repeat scroll right 5px transparent;
    float: left;
    position: relative;
}

#nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: normal;
    height: 30px;
    padding: 10px 10px 0;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}

#nav li:hover > a {
    color: #00B4FF;
}

#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
    background: none repeat scroll 0 0 #121212;
    outline: 0 none;
}

#nav li:hover ul.subs {
    left: 0;
    top: 40px;
    width: 180px;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

#nav ul li {
    background: none;
    width: 100%;
}

#nav ul li a {
    float: none;
}

#nav ul li:hover > a {
    background-color: #121212;
    color: #00B4FF;
}

td.underDeptAvg {
	background-color: red;
	color: red;
}

.primary, #selectChart, .nav {
	margin : 20px;
}
