
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 1em;	
}

/*
 * upload file
 */
#upload_excel {
	height: auto !important;
	margin : 0 auto;
} 

 
#footer {
	width: 100%;
	background: #181818;
	padding:20px 0px;
	text-align:center;
}

.img-slogan {
	height: 120px;
	width: 120px;
	margin: 15px 0;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#ad {
	background-image: url('../../images/login1.jpg');
	border: 8px solid #bcd3e1;
	border-radius:6px;
	width: 482px;
	height: 237px;
	margin-bottom: 10px;
}

.img-rounded {
	height: 50px;
	margin: 15px 0;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.img-business {
	height: 50px;
	margin: 15px 0;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

[class^="bicon-"],
[class*=" bicon-"] {
  display: inline-block;
  width: 190px;
  height:190px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 180px;
  vertical-align: text-top;
  background-image: url("../../images/EPS-12607.jpg");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}


.bicon-analysis {
	background-position: -20px -85px;
}

.bicon-query {
	background-position: -340px -85px;
}

.bicon-compare {
	background-position: 0px 0px;
}



/*
 * small icon
 */
[class^="bicons-"],
[class*=" bicons-"] {
  display: inline-block;
  width: 96px;
  height:76px;
  margin-top: 1px;
  margin-bottom: 10px;
  *margin-right: .3em;
  line-height: 80px;
  vertical-align: text-top;
  background-image: url("../../images/EPS-12607-s.jpg");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.bicons-analysis {
	background-position: -13px -41px;
}

.bicons-query {
	background-position: -148px -41px;
}

.bicons-compare {
	background-position: -413px -165px;
}

#featured {
	background: #efefef url(../img/content-bg.png) repeat-x 0 0;
}

#slogan-wrapper1 {
	padding: 60px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align:center;
}

#slogan-wrapper2 {
	padding: 60px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color: #eeeeee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#featured-wrapper {
	padding: 60px;
	padding-top: 10px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background-color1: #F7E8E1;
	background-color: #FFFFFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align:center;
}

#slogan-wrapper1 h3 {
	font-weight: bold;
	font-size: 35px;
	color: #0F58F5;
	text-shadow: 1px 1px 6px rgba(0,0,0, .6);
}

#featured-wrapper h1 {
	font-size: 34px;
	color: #9B461E;
}

#featured-wrapper h3 {
	font-weight: bold;
	font-size: 24px;
	color: #F06E31;
	text-shadow: 1px 1px 0px rgba(0,0,0, .6);
}

.push {
	height : 7em;
}